#######################################
# BACKEND - SPRING BOOT (STS)
#######################################
backend/target/
backend/.classpath
backend/.project
backend/.settings/

#######################################
# FRONTEND - ANGULAR
#######################################
frontend/node_modules/
frontend/dist/
frontend/.angular/

#######################################
# VARIABLES SENSIBLES (SOLO .env)
#######################################
*.env

#######################################
# ARCHIVOS SUBIDOS (NO VERSIONAR)
#######################################
uploads/
*.log

#######################################
# IDEs
#######################################
.vscode/
.idea/

#######################################
# SISTEMA OPERATIVO
#######################################
.DS_Store
Thumbs.db
