/* You can add global styles to this file, and also import other style files */
.main-bg {
  background-color: #0d0d0d; /* Negro profundo de la plantilla */
}

.custom-input {
  background-color: #000000 !important;
  border: 1px solid #ffc107 !important; /* Borde amarillo */
  color: white !important;
  border-radius: 8px;
}

.custom-input:focus {
  box-shadow: 0 0 5px #ffc107;
}

.admin-container {
  display: flex;
  min-height: 100vh;
  background-color: #000;
}

.sidebar-viva {
  width: 260px;
  background-color: #ffc107;
  display: flex;
  flex-direction: column;
}

.sidebar-nav {
  margin-top: 20px;
}

.nav-link-viva {
  display: block;
  padding: 15px 25px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.nav-link-viva.active {
  background-color: #000;
  color: #ffc107;
}

.main-content-viva {
  flex: 1;
  padding: 40px;
  background-color: #0a0a0a;
  overflow-y: auto;
}

.info-card-viva {
  background-color: #141414;
  border: 1px solid #333;
  border-radius: 12px;
}

.progress-container {
  background-color: #333;
  height: 8px;
  border-radius: 4px;
}

.progress-bar-yellow {
  background-color: #ffc107;
  height: 100%;
  border-radius: 4px;
}

.key-box {
  background-color: #000;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #222;
}

.work-item-black {
  background-color: #000;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #222;
}

.table-viva-container {
  background-color: #121212;
  border-radius: 12px;
  padding: 15px;
}

.table-viva th {
  color: #0dcaf0;
  font-weight: normal;
  border-bottom: 1px solid #333;
  padding: 15px;
}

.table-viva td {
  padding: 15px;
  color: #ccc;
  border-bottom: 1px solid #222;
}

.role-pill {
  padding: 4px 12px;
  border-radius: 6px;
  font-size: 0.75rem;
  color: white;
}

.btn-logout-viva {
  background: none;
  border: none;
  font-weight: bold;
  color: #000;
  padding: 20px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}