.wireframe-container { background-color: #121212; min-height: 100vh; color: white; }
.btn-volver { background: transparent; border: 1px solid #ffc107; color: #ffc107; border-radius: 5px; padding: 5px 15px; }
.progress-bar-custom { background-color: #333; height: 6px; width: 100%; border-radius: 10px; }
.progress-fill { background-color: #4dfd8c; height: 100%; border-radius: 10px; }
.active-step { color: #ffc107; font-weight: bold; }
.completed-step { color: #4dfd8c; }
.custom-card { background-color: #2e2e2e; border-radius: 15px; border: 1px solid #444; }
.label-yellow { color: #ffc107; font-size: 0.9rem; margin-bottom: 8px; display: block; }

.input-file-dark {
  background-color: #000;
  border: 1px solid #ffc107;
  color: #aaa;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
}

.instruction-box {
  background-color: #1a1a1a;
  border: 1px solid #444;
  border-radius: 8px;
  color: #ccc;
}

.btn-action { background: transparent; color: white; border: 1px solid #666; border-radius: 8px; padding: 10px 30px; }

.btn-enviar-final {
  background-color: #ffc107;
  color: #000;
  border: none;
  border-radius: 8px;
  padding: 10px 40px;
  font-weight: bold;
}